.container-md {
    background-color: #152733;
    height: 100%;
}
.form-holder {
    padding: 60px;
}
.form-content {
    border: 3px solid #F0F0F0;
    padding: 40px;
    width: 100%;
    border-radius: 10px;
}
.form-content h3 {
    color: #F0F0F0;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}
.form-content p {
    color: #F0F0F0;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 30px;
}